.parallax{
    background-image: url("allarjun.jpg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.error{
    height:1000px;
    background-color:rgb(72, 255, 0);
    font-size:36px"
}
 h1{
    font-size: 100px;
}